<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Sighting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-around align-items-center col-12">
        <h1 class="text">Sasquatch Websighting</h1>
        <div class="d-inline block col-2 justify-content-around">
            <h2 class="text">{{user.first_name}} {{user.last_name}}</h2>
            <a href="/user/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/user/logout" class="btn btn-info">Logout</a>
        </div>
    </nav>

    <form action="/sighting/create" method="post" class="col-11 p-4 my-4 mx-auto">
        <h2 class="text-primary">Report</h2>
        {% with messages = get_flashed_messages(category_filter=['sighting']) %}
            {% if messages %}
            <div class="error" role="alert">
                <strong>Error</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}

        <div class="d-flex justify-content-between col-9">
            <div class="col-4">
                <div class="form-group">
                    <label for="name">Location:</label>
                    <input type="text" name="location" class="form-control">
                </div>
                <div class="form-group">
                    <label for="date_made">Date Sighted</label>
                    <input type="date" name="date_made" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea name="description"  cols="25" rows="3" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="sasquatches_seen">Number of Sasquatches Seen:</label>
                    <input type="int" name="sasquatches_seen" class="form-control">
                </div>
                <br>
                <input type="submit" value="Report Sighting" class="btn btn-primary">
            </div>
        </div>
    </form>
</body>
</html>